.container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.sidebar {
	margin-left: var(--default-padding);
}

@media (max-width: 700px) {
	.container {
		grid-template-columns: 1fr;
	}

	.sidebar {
		display: none;
	}
}
