.goalContainer {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	text-align: end;
	font-size: 1.2em;
	border: 2px solid gold;
	/* background-color: gray; */
	border-radius: 20px;
	text-transform: capitalize;
	position: relative;
}

.name {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 10%;
}
