.container {
    border-radius: 5px;
    width: 100%;
}

.container .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .list .more {
    font-size: var(--font-size-1x);
    font-weight: 500;
    color: var(--accent-color);
    cursor: pointer;
}

.items {
    margin-top: var(--default-margin);
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--default-padding);
    padding: var(--default-padding) var(--default-margin);
    background: var(--linear-white);
    color: var(--primary-color);
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 2px var(--shadow-color);
}

.item .heading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item .heading h2 {
    font-size: var(--font-size-2x);
    margin-bottom: -5px;
}

.item .heading span {
    font-size: var(--font-size-1x);
}

.item .details {
    font-size: var(--font-size-3x);
    font-weight: 600;
}

.item .details .currency {
    font-size: var(--font-size-1x);
    padding-right: 1px;
    font-weight: normal;
}

.item span {}